#text {
  color: blue;
}
#boundingBox {
  color: purple;
}
#viewport {
  color: orange;
}
#dependency {
  color: red;
}
canvas.redraw {
  border: 1px dashed black;
}
#graphics img {
  border: 1px dashed black;
  background-image: url("images/alpha.png");
  background-repeat: repeat;
  vertical-align: middle;
}
#scaleWrapper {
  overflow: hidden;
  width: 460px;
  padding: 10px;
}
#scaleValue {
  float: right;
}
#scale {
  width: 400px;
}
